/*Propiedades por defecto del body: Imagen de fondo, tamaño, alto, ancho, color de fondo blanco y color de texto negro*/
body{
    background-image: url("../img/fondo.png");
    background-size: 100%;
    width: 100%;
    height: auto;
    background-color: white;
    background-repeat: no-repeat;
    color:black;
    margin: 0px;
    font-family: sans-serif !important;
}

#mainContainer{
    display: grid;
    grid-template-columns: 65% 35%;
    column-gap: 10px;
}

.carreraContainer{
    display: grid;
    grid-template-columns: 35% 65%;
    column-gap: 10px;
}


main{
    margin-top: 100px !important;
}


.container{
    margin: 0px 20% 20px;
}

.centrado{
    text-align: center;
}


/* Posicionamiento de las imágenes del footer */
footer div nav{
    position:fixed;
    bottom:7px;
    width:100%;
}

/* Distancia entre las imágenes del footer */
footer div nav a{
    margin-right: 10px;
}

.footer{
    display: grid;
    grid-template-columns: 65% 35%;
    column-gap: 10px;
    position:fixed;
    bottom:0px;
    width:100%;
    background-color: #f2f2f2 !important;
    height: 50px;
}

.centradofooter{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

.box{
    display: flex;
    text-align: center;
    align-items: center;
}


  
.main {
    margin-top: 60px;
    grid-column-start: 1;
    grid-column-end: 13;
}

#indexMensajePrincipal{
    grid-column-start: 0;
    grid-column-end: 8;
    color: blue;
}

#indexFoto{
    grid-column-start: 8;
    grid-column-end: 12;
    color: red;
}





/*Correspondiente al "HOLA" del index, es para que quede a la izquierda*/
#hola{
    text-align:start;
    font-family: 'Anton', sans-serif;
    color: #333333;
    font-size: 2em;
    margin-bottom: 0;
}

/*Para ajustar la altura y el margen de la descripción de la página principal*/
#desc{
    margin:5rem auto auto;
    height:40%;
}

/*Ajustes mediaquery para tamaño sm*/
@media screen and (max-width: 480px) {
    #desc{
        height:60%;
    }
    #imagenPrincipal{
        /* visibility: hidden;     */
        display: none;
    }
    #mainContainer{
        margin-top: 100px;
        display: grid;
        grid-template-columns: 100%;
    }
    .container{
        margin: 0px 1% 20px;
    }
    body{
        background-image: none;
    }
}


/*Ajustes mediaquery para tamaño md*/
@media screen and (min-width: 768px) {
    #mainContainer{
        margin-top: 100px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 50px;
    }
    #imagenPrincipal{
        height:70%;
    }
}

/*Ajustes mediaquery para tamaño lg*/
@media screen and (min-width: 1024px) {
    #imagenPrincipal{
        height:90%;
    }
}

#titulo{
    font-family: 'Anton', sans-serif;
    text-align: center;
    font-size: 60px;
    color: #333333;
    font-weight: 500;
    line-height: 1.2;
    margin: 0.5em;
}

#descripcion{
    font-size: 2rem;
    text-align: center;
}

/*Propiedades generales de los h1 al h6*/
h1,h2,h3,h4,h5,h6{
    font-family: 'Anton', sans-serif;
    color: #333333;
    font-weight: 500;
    line-height: 1.2;
}

.cool-btn {
	display: inline-block;
	font-weight: 400;
	color: #212529;
	text-align: center;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	color: #fff;
	background-color: #ff4a3d;
}


.cool-btn:hover{
  	background-color: #780101;

}

.titulosCarrera{
    background-color: #f83022;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;
    color: white;
    letter-spacing: 1px;
}

.imagenCarrera{
    height: 21rem;
    border-radius: 0.5rem;
    transition: 00.1s;
}

.imagenCarrera:hover{
    height: 21.5rem;
    border-radius: 0.5rem;
    transition: 00.1s;
}

.animacionTituloDeLaCarrera {
    text-align: center;
    position: relative;
    animation-name: animacionTitulo;
    animation: animacionTitulo 5s infinite;
  }

  @keyframes animacionTitulo {
    0%   {left:0px; top:0px;}
    25%  {left:-200px; top:0px;}
    50%  {left:0px; top:0px;}
    75%  {left:200px; top:0px;}
    100% {left:0px; top:0px;}
  }

  li{
        list-style-type: none;
        font-family: 'Anton', sans-serif;
        color: #333333;
        font-weight: 500;
        line-height: 1.2;
        font-size: 2rem;
  }



  .header {
      
    overflow: hidden;
    background-color: #de1d22;
    padding: 20px 10px;
  }
  
  .header a {
    float: left;
    color:rgb(225, 225, 225);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header a.logo {
    font-size: 60px;
    font-family: 'Grape Nuts', cursive;
    color:white;
  }
  
  .header a:hover {
    background-color: #da000b;
    color: rgb(255, 255, 255);
  }
  
  .header a.selected {
    background-color: #cb000b;
    color: white;
  }
  
  .headerIzq {
    float: right;
  }
  
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .headerIzq {
      float: none;
    }
  }
  
  iframe{
      margin-bottom: 3rem;
  }