<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
        <title>TPO</title>
    </head>
    <body>
        
        <header class="header">
            <div class="container" id="headerHeight">
                <div class="navbar">
                    <a href='./contacto.html'>Contacto</a>
                    <a href="#" class="selected">Carrera</a>
                    <a href="../index.html">Home</a>
                </div>
            </div>
        </header>

        <main class="container">

        </main>

        <footer class="footer">
            <div class="centrado">
                <p class="">Copyright Bilardo Group©</p>
            </div>
            <div>
                <nav>
                    <a class="redesindividual" href="http://www.instagram.com" target="_blank"><img src="../img/instagram.png" alt="Instagram" height="30" width="30"></a>
                    <a class="redesindividual" href="http://www.facebook.com" target="_blank"><img src="../img/facebook.jpg" alt="Facebook" height="30" width="30"></a>
                    <a class="redesindividual" href="http://www.twitter.com" target="_blank"><img src="../img/twitter.png" alt="Twitter" height="30" width="30"></a>
                </nav>
            </div>
        </footer>
    </body>

</html>