<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>TPO</title>
    </head>
    <body>
        
        <header class="header">
            <div class="container" id="headerHeight">
                <div class="navbar">
                    <a href='./contacto.html'>Contacto</a>
                    <a href="#" class="selected">Carrera</a>
                    <a href="../index.html">Home</a>
                </div>
            </div>
        </header>

        <main class="container">
            <h1 class="centrado"><i class="fa-solid fa-trophy"></i> Mis títulos <i class="fa-solid fa-trophy"></i></h1>
            

            <h2 class="titulosCarrera">Campeonato de Primera División 1959</h2>
            <div class="carreraContainer">
                <div class="box centradoImagen">

                    <img src="../img/trophy/bilardo1959.jpeg" alt="" class="imagenCarrera">

                </div>

                <div class="box">

                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>

                </div>
                
            </div>
            <h2 class="titulosCarrera">Campeonato Metropolitano 1967</h2>
            <div class="carreraContainer">
                <div class="box centradoImagen">

                    <img src="../img/trophy/bilardo1967.jpeg" alt="" class="imagenCarrera">

                </div>

                <div class="box">

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui temporibus consequatur, nesciunt eos explicabo ducimus corrupti, unde molestias voluptatum ullam veniam, minima nobis eaque quasi delectus vero at assumenda accusantium!</p>

                </div>
                
            </div>

            <h2 class="titulosCarrera">Copa Libertadores de América 1968</h2>
            <div class="carreraContainer">
                <div class="box centradoImagen">

                    <img src="../img/trophy/bilardo1968a.jpg" alt="" class="imagenCarrera">

                </div>

                <div class="box">

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui temporibus consequatur, nesciunt eos explicabo ducimus corrupti, unde molestias voluptatum ullam veniam, minima nobis eaque quasi delectus vero at assumenda accusantium!</p>

                </div>
                
            </div>

            <h2 class="titulosCarrera">Copa Intercontinental 1968</h2>
            <div class="carreraContainer">
                <div class="box centradoImagen">

                    <img src="../img/trophy/bilardo1968b.jpeg" alt="" class="imagenCarrera">

                </div>

                <div class="box">

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui temporibus consequatur, nesciunt eos explicabo ducimus corrupti, unde molestias voluptatum ullam veniam, minima nobis eaque quasi delectus vero at assumenda accusantium!</p>

                </div>
                
            </div>

            <h2 class="titulosCarrera">Copa Interamericana 1969</h2>
            <div class="carreraContainer">
                <div class="box centradoImagen">

                    <img src="../img/trophy/bilardo1969.jpeg" alt="" class="imagenCarrera">

                </div>

                <div class="box">

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui temporibus consequatur, nesciunt eos explicabo ducimus corrupti, unde molestias voluptatum ullam veniam, minima nobis eaque quasi delectus vero at assumenda accusantium!</p>

                </div>
                
            </div>

            <h2 class="titulosCarrera">Copa Libertadores de América 1969</h2>
            <div class="carreraContainer">
                <div class="box centradoImagen">

                    <img src="../img/trophy/bilardo1969b.jpg" alt="" class="imagenCarrera">

                </div>

                <div class="box">

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui temporibus consequatur, nesciunt eos explicabo ducimus corrupti, unde molestias voluptatum ullam veniam, minima nobis eaque quasi delectus vero at assumenda accusantium!</p>

                </div>
                
            </div>

            <h2 class="titulosCarrera">Copa Libertadores de América 1970</h2>
            <div class="carreraContainer">
                <div class="box centradoImagen">

                    <img src="../img/trophy/bilardo1970.jpg" alt="" class="imagenCarrera">

                </div>

                <div class="box">

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui temporibus consequatur, nesciunt eos explicabo ducimus corrupti, unde molestias voluptatum ullam veniam, minima nobis eaque quasi delectus vero at assumenda accusantium!</p>

                </div>
                
            </div>

            <h2 class="titulosCarrera">Campeonato Metropolitano 1982</h2>
            <div class="carreraContainer">
                <div class="box centradoImagen">

                    <img src="../img/trophy/bilardo1982.jpg" alt="" class="imagenCarrera">

                </div>

                <div class="box">

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui temporibus consequatur, nesciunt eos explicabo ducimus corrupti, unde molestias voluptatum ullam veniam, minima nobis eaque quasi delectus vero at assumenda accusantium!</p>

                </div>
                
            </div>

            <h2 class="titulosCarrera">Copa Mundial de Fútbol de la FIFA 1986</h2>
            <div class="carreraContainer">
                <div class="box centradoImagen">

                    <img src="../img/trophy/bilardo1986.jpg" alt="" class="imagenCarrera">

                </div>

                <div class="box">

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui temporibus consequatur, nesciunt eos explicabo ducimus corrupti, unde molestias voluptatum ullam veniam, minima nobis eaque quasi delectus vero at assumenda accusantium!</p>

                </div>
                
            </div>
        </div>
    </main>

        <footer class="footer">
            <div class="centrado">
                <p class="">Copyright Bilardo Group©</p>
            </div>
            <div>
                <nav>
                    <a class="redesindividual" href="http://www.instagram.com" target="_blank"><img src="../img/instagram.png" alt="Instagram" height="30" width="30"></a>
                    <a class="redesindividual" href="http://www.facebook.com" target="_blank"><img src="../img/facebook.jpg" alt="Facebook" height="30" width="30"></a>
                    <a class="redesindividual" href="http://www.twitter.com" target="_blank"><img src="../img/twitter.png" alt="Twitter" height="30" width="30"></a>
                </nav>
            </div>
        </footer>
    </body>

</html>